<%- include('./includes/header') %>

    <section class="s-featured">
      <div class="row">
        <div class="col-full">
          <div class="featured-slider featured" data-aos="zoom-in">
            <div class="featured__slide">
              <div class="entry">
                <div
                  class="entry__background"
                  style="
                    background-image: url(images/thumbs/featured/featured-guitarman.jpg);
                  "
                ></div>
                <div class="entry__content">
                  <span class="entry__category"><a href="#0">Music</a></span>
                  <h1>
                    <a href="#0" title=""
                      >What Your Music Preference Says About You and Your
                      Personality.</a
                    >
                  </h1>
                  <div class="entry__info">
                    <a href="#0" class="entry__profile-pic">
                      <script type="text/javascript" style="display: none">
                        //<![CDATA[
                        window.__mirage2 = {
                          petok:
                            "fdd3d9630f00b76a61e20c1433f7cdc0786d85b6-1624087406-1800",
                        };
                        //]]>
                      </script>
                      <img
                        class="avatar"
                        data-cfsrc="images/avatars/xuser-05.jpg.pagespeed.ic.VeExVGrouX.jpg"
                        alt=""
                      /><noscript
                        ><img
                          class="avatar"
                          src="images/avatars/xuser-05.jpg.pagespeed.ic.VeExVGrouX.jpg"
                          alt=""
                      /></noscript>
                    </a>
                    <ul class="entry__meta">
                      <li><a href="#0">Jonathan Smith</a></li>
                      <li>June 02, 2018</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="featured__slide">
              <div class="entry">
                <div
                  class="entry__background"
                  style="
                    background-image: url('images/thumbs/featured/featured-watch.jpg');
                  "
                ></div>
                <div class="entry__content">
                  <span class="entry__category"
                    ><a href="#0">Management</a></span
                  >
                  <h1>
                    <a href="#0" title=""
                      >The Pomodoro Technique Really Works.</a
                    >
                  </h1>
                  <div class="entry__info">
                    <a href="#0" class="entry__profile-pic">
                      <img
                        class="avatar"
                        data-cfsrc="images/avatars/xuser-03.jpg.pagespeed.ic.RNecCvHfJi.jpg"
                        alt=""
                      /><noscript
                        ><img
                          class="avatar"
                          src="images/avatars/xuser-03.jpg.pagespeed.ic.RNecCvHfJi.jpg"
                          alt=""
                      /></noscript>
                    </a>
                    <ul class="entry__meta">
                      <li><a href="#0">John Doe</a></li>
                      <li>June 13, 2018</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="featured__slide">
              <div class="entry">
                <div
                  class="entry__background"
                  style="
                    background-image: url('images/thumbs/featured/featured-beetle.jpg');
                  "
                ></div>
                <div class="entry__content">
                  <span class="entry__category"
                    ><a href="#0">LifeStyle</a></span
                  >
                  <h1>
                    <a href="#0" title=""
                      >The difference between Classics, Vintage & Antique
                      Cars.</a
                    >
                  </h1>
                  <div class="entry__info">
                    <a href="#0" class="entry__profile-pic">
                      <img
                        class="avatar"
                        data-cfsrc="images/avatars/xuser-03.jpg.pagespeed.ic.RNecCvHfJi.jpg"
                        alt=""
                      /><noscript
                        ><img
                          class="avatar"
                          src="images/avatars/xuser-03.jpg.pagespeed.ic.RNecCvHfJi.jpg"
                          alt=""
                      /></noscript>
                    </a>
                    <ul class="entry__meta">
                      <li><a href="#0">John Doe</a></li>
                      <li>June 12, 2018</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-content">
      <div class="row entries-wrap wide">
        <div class="entries">
          <% if (data.posts.all.length > 0) { %>
            <% data.posts.all.forEach(post => { %>
              <%- include('./includes/post.ejs', {post}) %>
            <% }); %>
          <% }else { %>
            <h1 style="text-align: center; width: 100%;">No Post Yet</h1>
          <% } %>
        </div>
      </div>
      <% if (data.posts.all.length > 0) { %>
        <%- include('./includes/pagination.ejs', {pagination: data.pagination}) %>
      <% } %>
    </section>

<%- include('./includes/footer') %>